.jumbotron {
    background-color: black;
    !important;
}

.navbar {
	 
	 margin-bottom:0;
     border-radius:0;
    
}

h1 {
    margin: 10px;
}

.subtitle {
    color:white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-feature-settings: "smcp", "zero";
}

li {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-feature-settings: "smcp", "zero";
}

.form-control {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-feature-settings: "smcp", "zero";
}

.item {
    position: absolute;
}


.navbar-brand {
  position: center;
  width: 200px; 
  
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}



.signin{
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    
}


.content-container{
    padding:10px;
    padding-bottom:45px;   
    text-align:justify; 
}


.{
    
}


.{
    
}


.{
    
}


.{
    
}
